{% extends 'common_code/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/register_page.css' %}">
{% endblock %}

{% block title %}Set new password{% endblock %}




{% block content %}
<div class="max-w-md mx-auto mt-10 p-6 bg-white rounded shadow">
  <h2 class="text-xl font-bold mb-4">Set New Password</h2>
  {% if messages %}
  {% for message in messages %}
  <p class="text-red-500">{{ message }}</p>
  {% endfor %}
  {% endif %}
  <form method="POST">
    {% csrf_token %}
    <div>
      <label>New Password:</label>
      <input type="password" name="password" required class="border rounded px-3 py-2 w-full">
    </div>
    <div>
      <label>Confirm Password:</label>
      <input type="password" name="confirm_password" required class="border rounded px-3 py-2 w-full">
    </div>
    <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded mt-4">Reset Password</button>
  </form>
</div>
{% endblock %}