{% extends 'common_code/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/register_page.css' %}">
{% endblock %}

{% block title %}Verify OTP{% endblock %}



{% block content %}
<div class="max-w-md mx-auto mt-10 p-6 bg-white rounded shadow">
  <h2 class="text-xl font-bold mb-4">Verify OTP</h2>
  {% if messages %}
  {% for message in messages %}
  <p class="text-red-500">{{ message }}</p>
  {% endfor %}
  {% endif %}
  <form method="POST">
    {% csrf_token %}
    <label>Enter OTP:</label>
    <input type="text" name="otp" required class="border rounded px-3 py-2 w-full">
    <button type="submit" class="w-full bg-green-600 text-white py-2 rounded mt-4">Verify</button>
  </form>
</div>
{% endblock %}